## **Q. Write a program to sort a list of numbers**

In [1]:
# !pip install jovian

In [2]:
nums=[4,2,6,3,4,6,2,1]

In [3]:
def sort(nums):
    pass

## **Creating Test Cases**

In [4]:
# List of numbers in random order
test0 = {
    'input': {
        'nums': [4, 2, 6, 3, 4, 6, 2, 1]
    },
    'output': [1, 2, 2, 3, 4, 4, 6, 6]
}

In [5]:
# List of numbers in random order
test1 = {
    'input': {
        'nums': [5, 2, 6, 1, 23, 7, -12, 12, -243, 0]
    },
    'output': [-243, -12, 0, 1, 2, 5, 6, 7, 12, 23]
}

In [6]:
# A list that's already sorted
test2 = {
    'input': {
        'nums': [3, 5, 6, 8, 9, 10, 99]
    },
    'output': [3, 5, 6, 8, 9, 10, 99]
}

In [7]:
# A list that's sorted in descending order
test3 = {
    'input': {
        'nums': [99, 10, 9, 8, 6, 5, 3]
    },
    'output': [3, 5, 6, 8, 9, 10, 99]
}

In [8]:
# A list containing repeating elements
test4 = {
    'input': {
        'nums': [5, -12, 2, 6, 1, 23, 7, 7, -12, 6, 12, 1, -243, 1, 0]
    },
    'output': [-243, -12, -12, 0, 1, 1, 1, 2, 5, 6, 6, 7, 7, 12, 23]
}

In [9]:
# An empty list 
test5 = {
    'input': {
        'nums': []
    },
    'output': []
}

In [10]:
# A list containing just one element
test6 = {
    'input': {
        'nums': [23]
    },
    'output': [23]
}

In [11]:
# A list containing one element repeated many times
test7 = {
    'input': {
        'nums': [42, 42, 42, 42, 42, 42, 42]
    },
    'output': [42, 42, 42, 42, 42, 42, 42]
}

In [12]:
import random

in_list = list(range(10000))
out_list = list(range(10000))
random.shuffle(in_list)

test8 = {
    'input': {
        'nums': in_list
    },
    'output': out_list
}

In [13]:
tests = [test0, test1, test2, test3, test4, test5, test6, test7, test8]

In [14]:
def bubble_sort(nums):
    # create a copy of the list, to avoid changing it
    nums=list(nums)
    # 4.Repeat the process (n-1) times
    for _ in range(len(nums)-1):
        # 1.Iterate over the array (except last element)
        for i in range(len(nums)-1):
            # 2.Compare the numbers
            if nums[i]>nums[i+1]:
                # 3.Swap the two elements
                nums[i],nums[i+1]=nums[i+1],nums[i]
    # return the sorted list
    return nums

**Testing the bubble sort algorithm with test cases manually**

In [15]:
nums0,output0=test0['input']['nums'],test0['output']
print('Input:',nums0)
print('Expected Output:',output0)

result0=bubble_sort(nums0)

print('Actual Output:',result0)
print('Match:',result0==output0)

Input: [4, 2, 6, 3, 4, 6, 2, 1]
Expected Output: [1, 2, 2, 3, 4, 4, 6, 6]
Actual Output: [1, 2, 2, 3, 4, 4, 6, 6]
Match: True

**Testing the bubble sort algorithm with test cases with jovian library**

In [16]:
# !pip install jovian --upgrade --quiet

In [17]:
# from jovian.pythondsa import evaluate_test_cases

In [18]:
# results=evaluate_test_cases(bubble_sort,tests)

**Time Complexiety Of Bubble Sort: O(n^2)**

---


**Space Complexiety Of Bubble Sort: O(n)**

# **Insertion Sort**

In [19]:
def insertion_sort(nums):
    nums=list(nums)
    for i in range(len(nums)):
        cur=nums[i]
        j=i-1
        while j>=0 and nums[j]>cur:
            nums[j+1]=nums[j]
            j-=1
        nums[j+1]=cur
    return nums

In [20]:
# evaluate_test_cases(insertion_sort,tests)

**Time Complexity of Insertions Sort: O(n^2)**

---

**Space Complexity of Insertion Sort: O(1)**

# **Divide & Conquer**

# **Merge Sort**

**Q. Write a function to merge two sorted list**

In [21]:
# Helper function
def merge(nums1, nums2):    
    # List to store the results 
    merged = []
    # Indices for iteration
    i, j = 0, 0
    # Loop over the two lists
    while i < len(nums1) and j < len(nums2):        
        # Include the smaller element in the result and move to next element
        if nums1[i] <= nums2[j]:
            merged.append(nums1[i])
            i += 1 
        else:
            merged.append(nums2[j])
            j += 1
    # Get the remaining parts
    nums1_tail = nums1[i:]
    nums2_tail = nums2[j:]
    # Return the final merged array
    return merged + nums1_tail + nums2_tail

In [22]:
def merge_sort(nums):
    # Using recursion
    # Terminating condition (list of 0 or 1 element)
    if len(nums)<2:
        return nums
    # Getting the mid point
    mid=len(nums)//2
    # Split the list into two halves
    left=nums[:mid]
    right=nums[mid:]
    # Solve the problem for each half, recursively
    left_sorted,right_sorted=merge_sort(left),merge_sort(right)
    # Combine the result for each half using helper function
    sorted_nums=merge(left_sorted,right_sorted)
    return sorted_nums

In [23]:
# !pip install jovian --quiet

In [24]:
# from jovian.pythondsa import evaluate_test_cases

In [25]:
# evaluate_test_cases(merge_sort,tests)

# **Quick Sort**
Another algorithm based on divide & conquer algorithm

In [26]:
def partition(nums, start=0, end=None):
    # print('partition', nums, start, end)
    if end is None:
        end = len(nums) - 1
    
    # Initialize right and left pointers
    l, r = start, end-1
    
    # Iterate while they're apart
    while r > l:
        # print('  ', nums, l, r)
        # Increment left pointer if number is less or equal to pivot
        if nums[l] <= nums[end]:
            l += 1
        
        # Decrement right pointer if number is greater than pivot
        elif nums[r] > nums[end]:
            r -= 1
        
        # Two out-of-place elements found, swap them
        else:
            nums[l], nums[r] = nums[r], nums[l]
    # print('  ', nums, l, r)
    # Place the pivot between the two parts
    if nums[l] > nums[end]:
        nums[l], nums[end] = nums[end], nums[l]
        return l
    else:
        return end

In [27]:
l1=[1,5,6,2,0,11,3]
pivot=partition(l1)
print(pivot)

3

In [28]:
def quicksort(nums, start=0, end=None):
    # print('quicksort', nums, start, end)
    if end is None:
        nums = list(nums)
        end = len(nums) - 1
    
    if start < end:
        pivot = partition(nums, start, end)
        quicksort(nums, start, pivot-1)
        quicksort(nums, pivot+1, end)

    return nums

In [29]:
quicksort([3,3,5,23,4,2,3,23])

[2, 3, 3, 3, 4, 5, 23, 23]

In [30]:
nums0,output0=test0['input']['nums'],test0['output']

print("Input:",nums0)
print("Expected output:",output0)
result0=quicksort(nums0)
print('Actual output:',result0)
print('Match:',result0==output0)

Input: [4, 2, 6, 3, 4, 6, 2, 1]
Expected output: [1, 2, 2, 3, 4, 4, 6, 6]
Actual output: [1, 2, 2, 3, 4, 4, 6, 6]
Match: True

In [31]:
from jovian.pythondsa import evaluate_test_cases
results=evaluate_test_cases(quicksort,tests)

TEST CASE #0

Input:
{'nums': [4, 2, 6, 3, 4, 6, 2, 1]}

Expected Output:
[1, 2, 2, 3, 4, 4, 6, 6]


Actual Output:
[1, 2, 2, 3, 4, 4, 6, 6]

Execution Time:
0.021 ms

Test Result:
PASSED


TEST CASE #1

Input:
{'nums': [5, 2, 6, 1, 23, 7, -12, 12, -243, 0]}

Expected Output:
[-243, -12, 0, 1, 2, 5, 6, 7, 12, 23]


Actual Output:
[-243, -12, 0, 1, 2, 5, 6, 7, 12, 23]

Execution Time:
0.023 ms

Test Result:
PASSED


TEST CASE #2

Input:
{'nums': [3, 5, 6, 8, 9, 10, 99]}

Expected Output:
[3, 5, 6, 8, 9, 10, 99]


Actual Output:
[3, 5, 6, 8, 9, 10, 99]

Execution Time:
0.017 ms

Test Result:
PASSED


TEST CASE #3

Input:
{'nums': [99, 10, 9, 8, 6, 5, 3]}

Expected Output:
[3, 5, 6, 8, 9, 10, 99]


Actual Output:
[3, 5, 6, 8, 9, 10, 99]

Execution Time:
0.023 ms

Test Result:
PASSED


TEST CASE #4

Input:
{'nums': [5, -12, 2, 6, 1, 23, 7, 7, -12, 6, 12, 1, -243, 1, 0]}

Expected Output:
[-243, -12, -12, 0, 1, 1, 1, 2, 5, 6, 6, 7, 7, 12, 23]


Actual Output:
[-243, -12, -12, 0, 1, 1, 1, 2, 5, 6, 6, 7, 7, 12, 23]

Execution Time:
0.037 ms

Test Result:
PASSED


TEST CASE #5

Input:
{'nums': []}

Expected Output:
[]


Actual Output:
[]

Execution Time:
0.004 ms

Test Result:
PASSED


TEST CASE #6

Input:
{'nums': [23]}

Expected Output:
[23]


Actual Output:
[23]

Execution Time:
0.004 ms

Test Result:
PASSED


TEST CASE #7

Input:
{'nums': [42, 42, 42, 42, 42, 42, 42]}

Expected Output:
[42, 42, 42, 42, 42, 42, 42]


Actual Output:
[42, 42, 42, 42, 42, 42, 42]

Execution Time:
0.019 ms

Test Result:
PASSED


TEST CASE #8

Input:
{'nums': [2160, 5815, 1326, 4410, 8481, 2668, 7618, 302, 9918, 2576, 7491, 4632, 7132, 7432, 3519, 8...

Expected Output:
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 2...


Actual Output:
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 2...

Execution Time:
53.914 ms

Test Result:
PASSED


SUMMARY

TOTAL: 9, PASSED: 9, FAILED: 0

**Time Complexiety** - O(nlogn) 
**Space Complexiety** - O(1)

**Question** - You are working on a new feature on jovian called "Top Notebooks of The Week". Write a function to sort a list of notebooks can be created every week, so your function needs to be as efficient as possible.

In [32]:
class Notebook:
    def __init__(self,title,username,likes):
        self.title,self.username,self.likes=title,username,likes
    def __repr__(self):
        return 'Notebook <"{}/{}", {} likes>'.format(self.username,self.title,self.likes)

In [33]:
nb0=Notebook('Naruto','Shivam',789)
nb1=Notebook('One-Piece','Sanket',501)
nb2=Notebook('Code-M','Ritika',456)
nb3=Notebook('Splits-villa','Nidhi',455)
nb4=Notebook('Pushpa','Rohan',780)
nb5=Notebook('KGF','Aman',900)
nb6=Notebook('KGF-Two','Nitesh',1032)

In [34]:
notebooks=[nb0,nb1,nb2,nb3,nb4,nb5,nb6]

In [35]:
notebooks

[Notebook <"Shivam/Naruto", 789 likes>,
 Notebook <"Sanket/One-Piece", 501 likes>,
 Notebook <"Ritika/Code-M", 456 likes>,
 Notebook <"Nidhi/Splits-villa", 455 likes>,
 Notebook <"Rohan/Pushpa", 780 likes>,
 Notebook <"Aman/KGF", 900 likes>,
 Notebook <"Nitesh/KGF-Two", 1032 likes>]

In [36]:
def compare_likes(nb1,nb2):
    if nb1.likes>nb2.likes:
        return 'lesser'
    elif nb1.likes==nb2.likes:
        return 'equal'
    elif nb1.likes<nb2.likes:
        return 'greater'

In [37]:
def default_compare(x,y):
    if x<y:
        return 'lesser'
    elif x==y:
        return 'equal'
    else: 
        return 'greater'

def merge_sort(objs,compare=default_compare):
    if len(objs)<2:
        return objs
    mid=len(objs)//2
    return merge(merge_sort(objs[:mid],compare),
                 merge_sort(objs[mid:],compare),
                 compare)
    
def merge(left,right,compare):
    i,j,merged=0,0,[]
    while i<len(left) and j<len(right):
        result=compare(left[i],right[j])
        if result=='lesser' or result=='equal':
            merged.append(left[i])
            i+=1
        else:
            merged.append(right[j])
            j+=1
    return merged+left[i:]+right[j:]

In [38]:
sorted_notebooks=merge_sort(notebooks,compare_likes)
sorted_notebooks

[Notebook <"Nitesh/KGF-Two", 1032 likes>,
 Notebook <"Aman/KGF", 900 likes>,
 Notebook <"Shivam/Naruto", 789 likes>,
 Notebook <"Rohan/Pushpa", 780 likes>,
 Notebook <"Sanket/One-Piece", 501 likes>,
 Notebook <"Ritika/Code-M", 456 likes>,
 Notebook <"Nidhi/Splits-villa", 455 likes>]

In [39]:
def compare_titles(nb1,nb2):
    if nb1.title>nb2.title:
        return 'lesser'
    elif nb1.title==nb2.title:
        return 'equal'
    elif nb1.title<nb2.title:
        return 'greater'

In [40]:
merge_sort(notebooks,compare_titles)

[Notebook <"Nidhi/Splits-villa", 455 likes>,
 Notebook <"Rohan/Pushpa", 780 likes>,
 Notebook <"Sanket/One-Piece", 501 likes>,
 Notebook <"Shivam/Naruto", 789 likes>,
 Notebook <"Nitesh/KGF-Two", 1032 likes>,
 Notebook <"Aman/KGF", 900 likes>,
 Notebook <"Ritika/Code-M", 456 likes>]